.about {
    height: auto;
    background-color: #202a42;
    padding: 1rem 1rem 3rem 1rem;

}

h1 {
	background-image: url(../images/colorsGif.gif);
    filter: grayscale(60%);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 4rem;
	margin: 10px 0;
}

.console-container {
 
  font-size:1em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.aboutContainer {

}