.projects {
    height: auto;
    background-color: #202a42;
    padding: 1rem;
    min-height: 600px;
}

.placeholder {
    background-color: #26304a;
    background-color: #202a42;
    background-color: #1d263c;
    background-color: #a0aac2;
    background-color: #848ca4;
    background-color: #101115;

}

.projectImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.wtfGif {
    border-radius: 40px;
    
}

.projectDescription {
    margin: 0rem 0rem 1rem 0rem;
}

.liveSiteButton {
    text-decoration: none;
    color: inherit;
    background-color: #848ca4;
    padding: 0.5rem;
    border-radius: 5px;
}

.liveSiteButton:hover {
    background-color: #a0aac2;
}

.liveSiteButton:active {
    background-color: #1d263c;
}

.liveSiteButton:visited {
    color: inherit;
}

.ncryptWrapper {
    animation: ncryptWrapper 1s ease-in-out;
}

@keyframes ncryptWrapper {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.navItem:hover {
    color: #3b4151;
}

.site-title {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
 
}

.navItem {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navItem {

    text-decoration: none;
    font-size: 1.2rem;
    margin: 0rem 1rem 0rem 1rem;    
}

.ncryptContentWrapper, .proconContentWrapper, .speakifyContentWrapper, .wtfContentWrapper {
    padding-bottom: 3rem;
}

@media screen and (min-width: 1108px) {
    .ncryptContentWrapper, .proconContentWrapper, .speakifyContentWrapper, .wtfContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 1rem;
    }
    .projectImage {
        max-width: 700px;
    }
}

.wtfContentWrapper {
    /* display: flex; */
    gap: 1.5rem;
}

.languagesWrapper {
    display: flex;
    gap: 4.5rem;
}

i {
    font-size: 2.5rem;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.wtfFlex {
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 500px) {
    .wtfFlex {
        flex-direction: column;
        align-items: center;
    }
}











